{% extends 'Base.html' %}

{% load static %}

{% block title %}
	Cart
{% endblock %}

{% block content %}
{% if not cart_items %}
<div class="text-center">
	<br>
	<h1 class="text-center product_title">your cart is empty</h1>
	<br>
	<p class="text-center">Click <a href="{% url 'home' %}">here</a> to go back to products</p>
</div>

{% else %}

<div class="text-center">
	<br>
	<div class="text-center product_title">
		Shopping cart
	</div>
</div>
<div class="row mx-auto">
	<div class="col-12 col-md-12 col-sm-12 col-lg-6 text-center">
			<table class="table cart-table">
				<thead class="cart-thead">
					<tr>
						<th colspan = "4">
							Your items
						</th>
					</tr>
				</thead>
				<tbody>	
					{% for cart_item in cart_items %}
					<tr>
						<td>
							<a href="{{ cart_item.product.get_url }}">
								<img src="{{ cart_item.product.image.url }}" width="100">
							</a>
						</td>		
						<td class="text-start">
							{{cart_item.product.name}}
							<br>
							Art: {{cart_item.product.id}}
							<br>
							price: {{cart_item.product.price}}
							<br>
							Quantity: {{cart_item.quantity}}
							Stock:  {{cart_item.product.stock}}
						</td>
						<td>
							{{cart_item.sub_total}}$
						</td>
						{% if cart_item.quantity < cart_item.product.stock %}
						<td>
							<a href="{% url 'add_cart' cart_item.product.id %}"><i class="material-icons cart-icon">add</i></a>
							<br>
							<a href="{% url 'remove_cart' cart_item.product.id %}"><i class="material-icons cart-icon">remove</i></a>
							<br>
							<a href="{% url 'delete_cart' cart_item.product.id %}"><i class="material-icons cart-icon">delete</i></a>
						</td>
						{% else %}
						<td>
							<a href="{% url 'remove_cart' cart_item.product.id %}"><i class="material-icons cart-icon">remove</i></a>
							<br>
							<a href="{% url 'delete_cart' cart_item.product.id %}"><i class="material-icons cart-icon">delete</i></a>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>	
	</div>
	<div class="col-12 col-md-12 col-sm-12 col-lg-6 text-center">
			<table class="table cart-table">
				<thead class="cart-thead">
					<tr>
						<th colspan = "4">
							Check out
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Please check your cart befor payment.
						</td>
					</tr>
					<tr>
						<td>
							Your total bill is: <span class="fw-bold">{{total}}$</span>
						</td>
					</tr>
				</tbody>
			</table>	
			<div class="mx-auto">
				<a href="{% url 'home' %}" style="text-decoration: None;">
					<div class="d-grid gap-2">
						<button type='button' class="btn btn-lg btn-block bg-dark text-light">
							Back to products
						</button>
					</div>	
				</a>
			</div>
	</div>
</div>
{% endif %}

{% endblock %}
