<nav class="navbar navbar-expand-md navbar-light bg-dark margin-left" >
				<a href="/" class="navbar-brand px-3"><i class="material-icons text-light md-48">engineering</i></a>
				<button class="navbar-toggler bg-light mx-10"><span class="navbar-toggler-icon" data-bs-toggle="collapse" data-bs-target="#navbar"></span></button>
				<div id="navbar"class="collapse navbar-collapse justify-content-between">	
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="/">home</a></li>
						<li class="nav-item"><a class="nav-link text-light text-uppercase fw-bold px-3" href="">about</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link text-light text-uppercase fw-bold px-3 dropdown-toggle" data-bs-toggle="dropdown" href="" aria-expanded="false">Categories</a>
								<ul class="dropdown-menu" aria-labelledby="CategoriesDropdown">
									<li><a class="dropdown-item" href="{%url 'home'%}">All products</a></li>
									{% for category in links %}
									<li><a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a></li>
									{% endfor %}
								</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light text-uppercase fw-bold px-3 position-relative" href="{% url 'cart_detail' %}">
								<span class="material-icons-outlined">shopping_cart</span>
								{% if item_count > 0 and item_count <= 99 %}
								<span class="position-absolute top-25 start-1000 translate-middle badge rounded-pill bg-danger">{{item_count}}</span>
								{% elif item_count > 99 %}
								<span class="position-absolute top-25 start-1000 translate-middle badge rounded-pill bg-danger">99+</span>
								{% endif %}
							</a>
						</li>
					</ul>
					<form class="form-inline">
						<div class="input-group">
							<input type="text" placeholder="Search">
							<button class="btn-dark"><i class="material-icons md-24">search</i></button>
						</div>
					</form>
				</div>			
			</nav>